
.container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;

    flex-wrap: nowrap;
    align-items: flex-start; /* Căn theo chiều dọc (top-align) */
    text-align: left;
    margin-bottom: 150px;
  
  }
  /* table {
    margin-left: 150px;

    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: #b581ba; 
    color: white; 
    padding: 12px; 
    text-align: left; 
    font-weight: bold; 
    font-size: 1.1rem; 
    border-bottom: 2px solid #ddd; 
    border-right: 2px solid #ddd; 
  } */

/* Cột bên trái chứa danh sách thông báo */
.notification-list {
  height: 80vh; /* Đặt chiều cao khung chi tiết lớn hơn (90% chiều cao màn hình) */

  width: 50%; 
  padding-right: 20px;
  border-right: 2px solid #ddd; /* Viền ngăn cách giữa 2 cột */
  overflow-y: auto;
}

.notification-list h2{
  background-color: white;

  color: #8a4baf;
  padding: 10px;
}


/* Định dạng cho mỗi mục thông báo trong danh sách */
.notification-item {
  cursor: pointer;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

/* Thay đổi màu nền khi hover vào thông báo */
.notification-item:hover {
  background-color: #d3c7d1;
}

/* Tiêu đề của mỗi thông báo */
.notification-title {
  text-align:left;
  font-size: 1.1rem;
  color: #4b4a4a;
}
.notification-tcontent {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  line-height: 1.6;
}
.read .notification-tcontent {
  color: #000000;
  font-weight: normal;
}
.notification-tmessage {
  font-size: 14px; /* Kích thước font */
  overflow: hidden; /* Ẩn phần nội dung tràn */
  white-space: nowrap; /* Không xuống dòng */
  text-overflow: ellipsis; /* Thêm dấu "..." */
  max-width: 300px; /* Độ rộng tối đa */
  color:#9955c0;
  font-weight: bold;
}

.read .notification-tmessage {
  color: #555; /* Màu chữ */
  font-weight: normal;
}

.type{
  text-align:right;
  font-size: 0.7rem;
  color: #777;
  margin-top: 5px;
}
/* Thời gian gửi thông báo */
.notification-time {
  text-align:right;
  font-size: 0.7rem;
  color: #777;
  margin-top: 5px;
}

/* Định dạng tiêu đề của nội dung chi tiết thông báo */
.notification-header {
  display:flex;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Nội dung của thông báo */
.notification-content {
  text-align:left;
   color: #333;
  font-size: 1rem;
  margin-left:50px;
  margin-right:50px;

  margin-top:20px;


}
.notification-content-box2 a{
  text-decoration: none; /* Bỏ gạch dưới */
  align-self: flex-start; /* Đặt biểu tượng ở cuối container */
  margin-top: auto; /* Đẩy biểu tượng xuống cuối */

}
.notification-content-box2 {
  flex-wrap:wrap;
  display:flex;
  flex-direction: column;
  justify-content: space-between; /* Đẩy các phần tử cách nhau */
  height: 75%;
  margin-right:10px;
  margin-top:10px;
  margin-left:10px;
  font-size: 1rem;
  color: black;
  line-height: 1.6;
  margin-bottom: 10px;
  box-sizing: border-box; /* Đảm bảo kích thước bao gồm cả padding và border */

}

.notification-content-box {
  display:flex;
  justify-content: space-between;
  margin-right:10px;
  margin-top:10px;
  margin-left:10px;
  font-size: 1rem;
  color: black;
  line-height: 1.6;
  margin-bottom: 10px;
  box-sizing: border-box; /* Đảm bảo kích thước bao gồm cả padding và border */

}

.notification-detail hr {
  background-color:gray;
  height: 0.1px;
  width: 100%; /* Chiếm toàn bộ chiều rộng của hộp chứa */
  border: none; /* Loại bỏ viền mặc định */
}


/* Thông báo khi chưa chọn thông báo nào */
.no-notification-selected {
  font-size: 1.2rem;
  color: #888;
  text-align: center;
  padding-top: 30px;
}

/* Viền ngăn cách giữa cột thông báo và chi tiết */
.notification-detail {
  max-width: 100%;
  width:100%;
  height: 80vh; /* Đặt chiều cao khung chi tiết lớn hơn (90% chiều cao màn hình) */
  display: block;
    border: 1px solid #ccc;
  margin-left:10px;
  border-left: 2px solid #ddd;
  overflow-y: auto; /* Thêm cuộn nếu nội dung vượt quá chiều cao */

}
.notification-header.icon{
  color:#8a4baf;
  margin-right:10px;
  font-size:50px;
}
.iconBell{
  color:#8a4baf;
  margin-left:10px;
  margin-right:15px;
  font-size:30px;
  text-align:center;
}
.iconD{
  color:#8a4baf;
  margin-left:10px;
  margin-right:15px;
  font-size:20px;
  text-align:center;
}


