.auth-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Changed to cover full viewport */
  padding: 20px;

  .auth-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;

    h2 {
      font-size: 28px;
      font-weight: bold;
      color: var(--primary-color);
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      color: #555;
      margin-bottom: 30px;
    }

    form {
      text-align: left;

      label {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        color: #333;
        font-weight: 500;
      }

      input {
        width: 92%;
        padding: 12px 15px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        transition: border 0.3s;

        &:focus {
          border: 1px solid var(--primary-color);
          outline: none;
        }
      }

      button {
        width: 100%;
        padding: 12px 15px;
        background: var(--primary-color);
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: var(--secondary-color);
        }
      }
    }
  }

  a {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--secondary-color);
      text-decoration: underline;
    }
  }
  
  .return-home{
    margin-top: 20px;
  }
}

/* Responsive Design */
@media (max-width: 480px) {
  .auth-page {
    padding: 10px;

    .auth-form {
      padding: 20px;
      border-radius: 10px;

      h2 {
        font-size: 24px;
      }

      form label {
        font-size: 14px;
      }

      form input {
        padding: 10px;
      }

      form button {
        font-size: 14px;
      }
    }
  }
}
